/**
 * renderer toolbar styles
 */
.device-renderer-instance {
    .gm-toolbar img:hover,
    .gm-streamrate-chooser img:hover {
        cursor: pointer;
    }

    .gm-toolbar {
        background-color: var(--gm-toolbar-bg-color);

        .gm {
            &-icon-button {
                -webkit-mask-size: contain;
                mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center;
                mask-position: center;
                background-color: var(--gm-toolbar-icon-color);

                &:hover,
                &.gm-active {
                    cursor: pointer;
                    background-color: var(--gm-toolbar-icon-color-hover);
                }
            }

            &-rotation {
                mask-image: url('../assets/images/ic_rotation.svg');
                -webkit-mask-image: url('../assets/images/ic_rotation.svg');
            }

            &-sound-up {
                mask-image: url('../assets/images/ic_sound-up.svg');
                -webkit-mask-image: url('../assets/images/ic_sound-up.svg');
            }

            &-sound-down {
                mask-image: url('../assets/images/ic_sound-down.svg');
                -webkit-mask-image: url('../assets/images/ic_sound-down.svg');
            }

            &-recent {
                mask-image: url('../assets/images/ic-nav_android_multiapp.svg');
                -webkit-mask-image: url('../assets/images/ic-nav_android_multiapp.svg');
            }

            &-home {
                mask-image: url('../assets/images/ic-nav_android_home.svg');
                -webkit-mask-image: url('../assets/images/ic-nav_android_home.svg');
            }

            &-back {
                mask-image: url('../assets/images/ic-nav_android_back.svg');
                -webkit-mask-image: url('../assets/images/ic-nav_android_back.svg');
            }

            &-battery-button {
                mask-image: url('../assets/images/ic-battery.svg');
                -webkit-mask-image: url('../assets/images/ic-battery.svg');
            }

            /* TODO pas d icone */
            &-gamepad-button {
                mask-image: url('../assets/images/ic-battery.svg');
                -webkit-mask-image: url('../assets/images/ic-battery.svg');
            }

            &-power {
                mask-image: url('../assets/images/ic_icon_power.svg');
                -webkit-mask-image: url('../assets/images/ic_icon_power.svg');
            }

            &-camera-button {
                mask-image: url('../assets/images/ic_camera.svg');
                -webkit-mask-image: url('../assets/images/ic_camera.svg');
            }

            /* TODO pas d icone 'camera + mic' */
            &-camera-mic-button {
                mask-image: url('../assets/images/ic_camera.svg');
                -webkit-mask-image: url('../assets/images/ic_camera.svg');
            }

            /* TODO */
            &-streamres-button {
                background-image: url('../assets/images/ic-resolution_inactive.svg');
                background-color: transparent;
                outline: none;
                border: none;
                color: transparent;
                -webkit-appearance: none;
                -moz-appearance: none;

                &:focus {
                    outline-style: none;
                    box-shadow: none;
                    border-color: transparent;
                    color: var(--gm-toolbar-icon-color);
                    background: var(--gm-toolbar-bg-color) !important;
                }

                &:hover {
                    background-image: url('../assets/images/ic-resolution_active.svg');
                }
            }

            &-gps-button {
                mask-image: url('../assets/images/ic_location.svg');
                -webkit-mask-image: url('../assets/images/ic_location.svg');
            }

            //TODO replace fullscreen icon with right icon when Christophe will provide it
            &-fullscreen-button {
                mask-image: url('../assets/images/ic_fullscreen.svg');
                -webkit-mask-image: url('../assets/images/ic_fullscreen.svg');

                &.gm-active,
                &.gm-active:hover {
                    mask-image: url('../assets/images/ic_fullscreen-activated.svg');
                    -webkit-mask-image: url('../assets/images/ic_fullscreen-activated.svg');
                    background-color: var(--gm-toolbar-icon-color-hover);
                }
            }

            /* TODO */
            &-screencast-button {
                background-image: url('../assets/images/ic-screenshot_inactive.svg');
                &:hover,
                &.gm-active,
                &.gm-active:hover {
                    background-image: url('../assets/images/ic-screenshot_active.svg');
                }
            }
            /* TODO */
            &-screencast-button-recording {
                background-image: url('../assets/images/ic-screenshot_active.svg');
            }
            /* TODO */
            &-identifiers-button {
                mask-image: url('../assets/images/ic_id.svg');
                -webkit-mask-image: url('../assets/images/ic_id.svg');
            }

            &-network-button {
                mask-image: url('../assets/images/ic_network.svg');
                -webkit-mask-image: url('../assets/images/ic_network.svg');
            }

            &-iothrottling-button {
                mask-image: url('../assets/images/ic_diskIO.svg');
                -webkit-mask-image: url('../assets/images/ic_diskIO.svg');
            }

            &-phone-button {
                /* TODO mauvaise icone*/
                mask-image: url('../assets/images/ic_textandcall.svg');
                -webkit-mask-image: url('../assets/images/ic_textandcall.svg');
            }

            //TODO
            &-sim-button {
                background-image: url('../assets/images/ic_baseband_inactive.svg');
                &:hover,
                &.gm-active {
                    background-image: url('../assets/images/ic_baseband_active.svg');
                }
            }
            //TODO
            &-uploader-button {
                background-image: url('../assets/images/ic_installation_inactive.svg');
                &:hover,
                &.gm-active {
                    background-image: url('../assets/images/ic_installation_active.svg');
                }
            }

            //TODO plus utilisé ?
            &-streambitrate-button {
                background-image: url('../assets/images/hq.png');
                &:hover,
                &.gm-active {
                    background-image: url('../assets/images/hq-over.png');
                }
            }
            //TODO
            &-clipboard-button {
                background-image: url('../assets/images/ic_clipboard_inactive.svg');
                &:hover,
                &.gm-active {
                    background-image: url('../assets/images/ic_clipboard_active.svg');
                }
            }

            &-fingerprint-button {
                mask-image: url('../assets/images/ic_biometrics.svg');
                -webkit-mask-image: url('../assets/images/ic_biometrics.svg');

                &.fingerprint-require {
                    background-color: var(--gm-primary-color);
                    filter: invert(0) !important;
                    animation: blink 2s linear infinite;
                }
                //TODO demander a Christhope l icone
                &.fingerprint-autoValidation {
                    background-image: url('../assets/images/ic_biometrics_auto_validation.svg');
                    filter: invert(0) !important;
                    &:hover,
                    &.gm-active {
                        background-image: url('../assets/images/ic_biometrics_auto_validation.svg');
                    }
                }
            }
            //TODO
            &-keymapping-button {
                background-image: url('../assets/images/ic_keymapping_desactivate.svg');
                &:hover {
                    background-image: url('../assets/images/ic_keymapping_desactivate_hover.svg');
                }
                &.gm-active {
                    background-image: url('../assets/images/ic_keymapping.svg');
                }
                &.gm-active:hover {
                    background-image: url('../assets/images/ic_keymapping_hover.svg');
                }
                &.keymapping-paused {
                    background-image: url('../assets/images/ic_keymapping_paused.svg');
                }
            }

            &-default-turn-button {
                background-image: url('../assets/images/ic_warning.svg');
            }
        }
    }
}
